
.site-credits {
    text-align: left;
    font-size: 0.8em;
    opacity: 0.5;
    padding: 4em 0 2em;
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 3px;
    }

    a:hover {
        color: $link-color;
        text-decoration-style: solid;
    }
}
